@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  
    --h-font:'Fira Sans', sans-serif;
    --p-font:'Inter', sans-serif;
    --prfec-black:#000000;
    --prfec-white:#ffffff;
    --prfec-clr:#515BDA;
    --h-black:#000000;
    --p-black:#0a0a0a;
    --h-white:#ffffff;
    --p-white:#d1d1d1;
    --box-border:#E0E0E0;

 

  }

  *{
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
      text-decoration: none;
    }
    
    body {
      margin: 0;
      overflow-y: scroll;
    }




 