.footer{
    padding: 90px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--prfec-black);
}
.footer-container{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3rem;
}
.footer-contents {
    display: flex;
    gap: 1.5rem;
}
.footer-contents p{
    font-family: var(--p-font);
    font-size: 15px;
    font-weight: 400;
    color: var(--p-white);
}
.footer-contents p:hover{
    color: var(--h-white);
}
.footer-socials{
    display: flex;
    gap: 1rem;
}

@media only screen and (max-width:800px){
    .footer-container{
        width: 90%;
        flex-direction: column;
        gap: 4rem;
    }
    .footer-socials {
        gap: 1.5rem;
    }
}
@media only screen and (max-width:600px){
    .footer-contents{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media only screen and (max-width:400px){
    .footer {
        padding: 50px 0px;
    }
    .footer-container{
        gap:3.5rem;
    }
    .footer-contents{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
}