.forgot-password-p{
    padding:120px 0px 60px 0px ;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    height: 100vh;
}
.forgot-password-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-forgot-password{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1.5rem;
}

.forgot-password-heading h1{ 
    font-family: var(--h-font);
    font-weight: 600;
    font-size: 28px;
    color: var(--h-black);  
}
.Email-p{
    width: 100%;
}
.email-holder-p{
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    border: 1px solid #c1bfbf;
    border-radius: 8px;
    background-color:inherit;
 }
 .email-holder-p:focus{
     outline-style: none;
 }

 .reset-btn{
    width: max-content;

    padding: 8px 16px;
    color: #ffffff;
    background-color: var(--trafy-black);
    border: 2px solid var(--trafy-black);
    border-radius: 8px;
    font-size: 16px;
   font-family: "Inter", sans-serif;
   font-weight: 400;
}
.reset-btn:hover{
    color: var(--h-text-b-clr);
    background-color: var(--h-text-w-clr);
}

@media only screen and (max-width:1024px){
    .forgot-password-container{
        width:90%;
    }
    .form-forgot-password{
        width:60%;
    }
}
@media only screen and (max-width:600px){
    .forgot-password-p{
        height: 80vh;
    }
    .form-forgot-password{
        width:100%;
    }
}