
.login{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 60px;
    /* background-color:  #fff4ec; */
    background-color: var(--prfec-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    width:400px;
    padding: 32px 40px;
    border: 1px solid #c1bfbf;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
    background-color: #ffffff;
}
.login-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-heading h1{ 
    font-family: var(--p-font);
    font-weight: 600;
    font-size: 28px;
    color: var(--h-black);
    text-align: center;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.2rem;
}
.email, .password{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.custom-text-field .MuiOutlinedInput-input{
  padding: 14px 18px;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
}


.eye{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    color: #1c1623;
  }
  .error-message {
    font-family: "Roboto", sans-serif;
    color: red;
    font-size: 12.5px;
    padding-top: 4px;
  }
  .login-button{
    width: 100%;
  }
  .login-btn{
    width: 100%;
    padding: 13px 32px;
    border: 2px solid #1c1623;
    background-color: #1c1623;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .login-btn:hover{
    background-color: inherit;
    color: var(--h-black);
  }


  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px inherit inset !important; /* Ensure this matches your input background color */
      -webkit-text-fill-color: #1c1623!important;
  }

  .google-signin {
    width: 100%;
}
.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 14px 16px;
    border: 1px solid var(--prfec-black);
    border-radius: 6px;
    /* box-shadow: 0 -1px 1px rgba(0, 0, 0, .25), 0 1px 1px rgba(0, 0, 0, .25); */
    width: 100%;
    
    color: #3f3f3f;
    font-size: 16px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: var(--h-text-w-clr);
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
}

.custom-text-field .MuiOutlinedInput-root {
  padding-right: 0px;
}


@media only screen and (max-width:430px){
  .login-container{
    width:90%;
    padding: 24px;
  }
}
